;; shadow-cljs configuration
{:source-paths
 ["src/main"
  "src/test"]

 :dependencies
 [[reagent "1.1.1"]]

 :builds
 {:site {:target :npm-module
         :output-dir "site/node_modules/shadow-cljs"
         :build-hooks [(shadow.next-js/create-pages)]
         :entries [index]
         :compiler-options {:optimizations :advanced
                            :fn-invoke-direct true
                            :source-map-detail-level :all
                            :pretty-print true
                            :output-feature-set :es-next
                            :infer-externs true
                            :pseudo-names true}}}}
